@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
	--yellow: #fff;
	--green: #ccffcc;
	--orange: #ffcc99;
	--dark-blue: #1c337a;
	--light-hover: #1c337a;
	--light-blue: #00abeb;
	--back: #0b0b0b;
	--white: #fff;
}
.infografia {
	border: 6px solid var(--light-blue);
	padding: 1.5rem;
}
.bg-white {
	background-color: var(--white) !important;
}
.bg-light-blue {
	background-color: var(--light-blue);
}
.bg-green {
	background-color: var(--green);
}
.bg-orange {
	background-color: var(--orange);
}
.title-infografia {
	color: var(--back);
	font-weight: 700;
}
.paddding-4 {
	padding: 0.5rem 1rem;
}
.items-center {
	align-items: center;
	display: flex;
}
.h4.title {
	font-size: 18px;
	padding: 0;
	margin: 6px 0;
	margin-bottom: 2rem !important;
	line-height: 1.3;
}
.width-100 {
	width: 100% !important;
}
/* Infografia */
.infografia {
	font-family: "Roboto", sans-serif;
	color: var(--back);
}

/* Botones */
.button-arrows-container {
	display: flex;
	flex-direction: column;
	letter-spacing: 0.25px;
	padding: 0 1rem;
	gap: 8px;
	z-index: 0;
}
.button-arrow {
	height: 55px;
	background: var(--white);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	text-decoration: none;
	color: var(--back);
	margin-bottom: 1rem;
}

.button-arrow .content {
	font-size: 14px;
	font-weight: 500;
	margin: 0 8px;
}
.button-arrow .content.center {
	text-align: center !important;
}
.button-arrow::before {
	content: "";
	display: inline-block;
	background: var(--white);
	width: 16px;
	height: 55.1px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 60% 50%);
	position: absolute;
	left: -15px;
	top: -0.1px;
	z-index: 0;
}
.button-arrow::after {
	content: "";
	display: inline-block;
	background: var(--white);
	width: 1em;
	height: 100%;
	clip-path: polygon(0 0, 60% 50%, 0 100%);
	position: absolute;
	right: -0.96em;
	z-index: 0;
}
.button-arrow:hover,
.button-arrow:focus {
	cursor: pointer;
	color: var(--light-blue) !important;
	box-shadow: 1px 2px 20px 3px rgba(25, 149, 180, 0.361);
}

.row-article {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 10px;
	row-gap: 15px;
	padding: 1rem 0;
}

/* Article Clientes */
.article-clientes {
	background-color: var(--white);
}
.article-clientes .rigth-column {
	display: flex;
	flex-wrap: wrap;
}
.article-clientes .sales {
	margin-bottom: 1rem;
	padding: 1rem 1.5rem;
	width: 100%;
}
.client {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 5px;
}
.client .icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 35px;
}
.client .icon img {
	width: 40px;
}

.article-facilitadores .client,
.article-soporte .client {
	display: block;
	width: 100%;
}
.article-facilitadores .client .icon,
.article-soporte .client .icon {
	width: 100%;
	text-align: center;
	display: block;
}
.subtitle {
	margin: 0 !important;
}
.subtitle-infografia {
	color: var(--back);
	margin-bottom: 0.7rem;
}
.second-row {
	width: 100%;
	display: grid;
	justify-content: space-between;
	grid-template-columns: 3fr 5fr 3fr;
	gap: 5px 50px;
	padding: 1rem 0;
}
.second-row .columns {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.second-row .columns .contenido {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 1rem;
	width: 100%;
}
.second-row .contenido .buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
}
.buttons .button-arrow {
	max-width: 100%;
	margin-bottom: 1.5rem;
}
.second-row .center-img {
	padding: 1rem;
}
.second-row .center-img img {
	max-width: 100%;
}

.customer-services {
	margin-bottom: 2rem;
	padding: 1rem 1.5rem;
	width: 100%;
}
h4.subtitle {
	font-size: 16px;
	margin-bottom: 1rem !important;
}
/* Article Soporte */
.article-soporte {
	background-color: var(--white);
}

/* article-facilitadores */
.article-facilitadores {
	background-color: var(--white);
}

/* Responsive */
@media screen and (max-width: 600px) {
	.buttons .button-arrow {
		width: 100%;
	}
}

@media screen and (max-width: 999px) {
	.second-row {
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 1024px) {
	.row-article {
		grid-template-columns: 180px 6fr;
		gap: 0;
	}
	.row-article.row-first {
		grid-template-columns: 180px 6fr 60px;
		gap: 0;
	}
	.pr-xl-0 {
		padding-right: 0 !important;
	}
	.button-arrows-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 100%;
		width: 100%;
		gap: 20px;
	}
	.second-row .contenido .buttons {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 1rem;
		width: 100%;
	}
	.button-arrow {
		margin-bottom: 1rem;
	}
	.second-row {
		grid-template-columns: 3fr 6fr 3fr;
		gap: 5px 40px;
	}
	.second-row .contenido .buttons {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 1rem;
		width: 100%;
	}
	.col-lg-11 .second-row,
	.col-lg-12 .second-row {
		gap: 5px 20px;
	}

	.col-lg-10 .infografia .center-img,
	.col-lg-11 .infografia .center-img,
	.col-lg-12 .infografia .center-img {
		padding: 0 2.4rem !important;
	}
	.col-lg-7 .second-row,
	.col-lg-8 .second-row,
	.col-lg-9 .second-row {
		gap: 5px 20px;
		grid-template-columns: 4fr 4fr 4fr;
	}
	.article-clientes .sales {
		margin-bottom: 0 !important;
	}
}

/*
	custom_modals
*/
.custom_modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}
.custom_modal-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.62);
	backdrop-filter: blur(4px);
	z-index: 1;
}
.custom_modal-container {
	width: 90%;
	background-color: var(--white);
	padding: 10px;
	box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.31);
	border-radius: 5px;
	z-index: 1000;
}
.custom_modal-header {
	display: flex;
	border-bottom: 1px solid #e9ecef;
	position: relative;
	padding-right: 30px;
	padding-left: 10px;
}
.custom_modal-header h2 {
	font-weight: 400;
	color: #1b1e21;
	font-size: 1.3em !important;
}
.custom_modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	background: transparent;
	border: 0;
	padding: 2px;
	cursor: pointer;
}
.custom_modal-content p,
.custom_modal-content h2,
.custom_modal-content h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #212529;
	padding: 10px;
}
@media only screen and (min-width: 768px) {
	.custom_modal-container {
		width: 90%;
		max-width: 710px;
	}
}
.custom_modal.open {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}
